body {
  padding-top: 50px;
}

.main_content {
  padding: 10px 5px;
  text-align: center;
}

.dancer_list {
  
}

.dance_tracking {

}

.spotify {
  background-image: url("../img/spotify-logo.jpg");
  height: 90vh;
}

.director_tools {

}

.reports {

}
